@font-face {
    font-family: 'July';
    src: url('July-Italic.woff2') format('woff2'),
        url('July-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'July';
    src: url('July-Regular.woff2') format('woff2'),
        url('July-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'July';
    src: url('July-Bold-Italic.woff2') format('woff2'),
        url('July-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'July';
    src: url('July-Bold.woff2') format('woff2'),
        url('July-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

