@font-face {
    font-family: SolaimanLipi;
    src: local('SolaimanLipi'),
        url('public/fonts/solaimanlipi.woff') format('woff'),
        url('public/fonts/solaimanlipi.woff2') format('woff2');
}

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-serif: 'Source Serif 4', ui-serif, serif;

    --font-tiro: 'SolaimanLipi', ui-serif, serif;
}
        